body{
	background-color: #333;
	color: #CCC;
}



.wrap {
/*	background-color: rgba(120, 120, 120, .5);*/
	padding: 30px;
	width: 100%;
}

.img-responsive {
    margin: 0 auto;
	display: block;
    width: auto;
    max-height: 100%;
}

.logo{
	margin-top: 30px;
	margin-bottom: 30px;
	height: 200px;
}

.container {
	width: 100%;

	/*display: table;*/
}

.container  .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
}
