body {
    background-color: #333;
    color: #CCC;
	margin:10px;
}

/*images will go in a container*/
img{
	width: 100%;
    height: 100%;
}

button, input, a{
	margin: 5px 0;
}

.table thead tr th, .table tbody tr td, .table tfoot tr th{
	text-align: center;
	font-size: 2em;
}

.table tbody tr td{
	vertical-align: middle;
}


/*for whole page*/
.container {
    /*padding: 10px;*/
}

.img-responsive {
    margin: 0 auto;
    display: block;
    max-width: 100%;/*max-height: 100%;*/
}
.logo {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 200px;
	width: 243px;
}

/* forms */
#register-form input{
	margin-top: 10px;
}

/* forms */
#login-form input{
	margin-top: 10px;
}

/*-- container for show title, image, button, etc. --*/
.show{
	margin: 10px 0;
}


/*----------------------*/
/*-- image containers --*/
/*----------------------*/

/*- main, search, detail, list pages (watching) -*/
.image-container {
    height: 450px;
    width: 300px;
}

/*- list page (collection) -*/
.image-container-small {
    height: 200px;
    width: 133px;
}

/*- user page -*/
.image-container-table {
    height: 100px;
    width: 66px;
}




.black-background {background-color:#000000;}
.black-background:hover {background-color:#cccccc;}

/*-----------------------*/
/*-- responsive styles --*/
/*-----------------------*/

@media screen and (max-width: 768px) {
	.image-container {
		margin: 0 auto;
		display: block;
		max-width: 100%;/*max-height: 100%;*/
	}
	.image-container-small {
    height: 100px;
    width: 66px;
	
	}	
}

@media screen and (max-width: 992px) {
.image-container {
    height: 200px;
    width: 133px;
}
}

@media screen and (max-width: 1200px) {
.image-container {
    height: 300px;
    width: 200px;
}
}

