<hr>
<div class="row">
  <div ng-hide="loading">
    <div ng-if="search && showList.length == 0"> No results found. </div>
    <h1>Shows Watching: {{watchingList.length}} / 3</h1>
    
      <div ng-repeat="show in watchingList "> 
        <!--from database-->
        <h2>{{show.Title}}</h2>
        <div class="row">
          <div class="col col-sm-4">
            <div class="img-responsive image-container"> <img class="img-responsive img-rounded" ng-src="{{show.Poster}}" alt="{{show.Title}}"><br>
            </div>
            <!--from api--> 
          </div>
          <div class="col col-sm-8"> 
            <!--ADD CHART HERE-->
            <div class="chart-container">
              <canvas 
				id="line" class="chart chart-line" chart-data="show.ratingsArray"
				chart-labels="show.episodeListArray" chart-series="series" chart-options="options"
				chart-dataset-override="datasetOverride" chart-click="onClick"
				chart-colors="colors"> </canvas>
            </div>
          </div>
        </div>
        <br />
		  
        <div class="row">
          <div class="col col-sm-4"> <strong>Total Episodes: </strong>{{show.totalEpisodes}} <br />
            <strong>Remaining Episodes: </strong>{{show.totalEpisodes - show.totalEpisodesWatched}} <br />
			  <strong>Remaining Minutes: </strong>{{((show.totalEpisodes - show.totalEpisodesWatched) * (show.Runtime | num)) | numberWithCommas}} <br />
            <strong>Show Rating: </strong>{{show.imdbRating}} <br />
            <strong>Average Episode Rating: </strong>{{show.episodeRatings}}<br />
            <strong>Average Rating of Remaining Episodes: </strong>{{remainingRating(show)}}
			  
			  <span class="glyphicon glyphicon-arrow-up" ng-if="remainingRating(show) > show.episodeRatings" style="color: #5cb85c"></span>
			  <span class="glyphicon glyphicon-arrow-down" ng-if="remainingRating(show) < show.episodeRatings" style="color: #d9534f"></span>
			  
			  <br />
			  within {{stdDev(remainingRating(show), show)}} standard deviation <br />
			  <div ng-if="stdDev(remainingRating(show), show) <= -2" style="color: #d9534f">Do you have Stockholm syndrome with this show? <br />Maybe it's time to stop watching.</div>
			  <strong>Number of Outliers: </strong>{{show.stats.outliers}} (<span class="glyphicon glyphicon-arrow-down" style="color:#d9534f"></span>{{show.stats.lowerOutliers.length}} / <span class="glyphicon glyphicon-arrow-up" style="color:#5cb85c"></span>{{show.stats.upperOutliers.length}})<br />
            
            <!--			TODO: if Rating of Remaining Episodes drops too much below Average Episode Rating, warn user--> 
            
            <!--<a href="#!/Show/{{show.title}}" >
          <button class="btn btn-default" ng-click="preloadShowDetails(show.object)">Details</button>
          </a>--> 
            
          </div>
			<div class="col col-sm-3 text-right"> 
            <!--Current Episode: {{parseInt(show.episode)}} <br />--> 
            <strong>Current Season: </strong>{{show.currentSeason-0+1}} <br />
            
            
            <strong>Season Rating: </strong>{{show.Seasons[show.currentSeason].seasonRatingAverage | number: 2}} <br />
				within {{stdDev(show.Seasons[show.currentSeason].seasonRatingAverage, show)}} standard deviation <br />
			<strong>Remaining Seasons: </strong>{{show.totalSeasons - show.currentSeason-1}} <br />
				
			  <!--<strong>σ: </strong>-->

            
            <!--			TODO: SHOW/HIDE if current episode if best or worst--> 
            
            <!--<div ng-repeat="season in show.object.Seasons | filter:{Season:'1'}">
			 {{season.Episodes[show.episode].Title}}</div>
			{{show.object.Seasons[1].Episodes[show.episode].Title}}--> 
          </div>
			
          <div class="col col-sm-3 text-right"> 
            <!--Current Episode: {{parseInt(show.episode)}} <br />--> 
            <strong>Current Season: </strong>{{show.currentSeason-0+1}} <br />
            <strong>Current Episode: </strong>{{show.currentEpisode-0+1}} <br />
            <em>{{show.Seasons[show.currentSeason].Episodes[show.currentEpisode].Title}}</em> <br />
            <strong>Episode Rating: </strong>{{show.Seasons[show.currentSeason].Episodes[show.currentEpisode].imdbRating}} <br />
			  <!--<strong>σ: </strong>-->within {{stdDev(show.Seasons[show.currentSeason].Episodes[show.currentEpisode].imdbRating, show)}} standard deviation <br />
            
            <!--<div ng-hide="outlier">-->
			  <div ng-if="show.episodeListArray[show.totalEpisodesWatched] == show.bestEpisode" style="color: #5cb85c">This is the best episode! </div>
            <div ng-if="show.seasons[show.currentSeason].Episodes[show.currentEpisode].imdbRating > show.stats.upperLimit" style="color: #5cb85c">This episode is an outlier. It's REALLY good!! <br />Like, damn... what the hell did I just watch, good.</div>
            
			  <div ng-if="show.episodeListArray[show.totalEpisodesWatched] == show.worstEpisode" style="color: #d9534f"> This is the worst episode! </div>
            <div ng-if="show.seasons[show.currentSeason].Episodes[show.currentEpisode].imdbRating < show.stats.lowerLimit" style="color: #d9534f"> This episode is an outlier. It's THAT bad. <br />Like, shouldn't even be considered an episode, bad.</div>
            
            <!--			TODO: SHOW/HIDE if current episode if best or worst--> 
            
            <!--<div ng-repeat="season in show.object.Seasons | filter:{Season:'1'}">
			 {{season.Episodes[show.episode].Title}}</div>
			{{show.object.Seasons[1].Episodes[show.episode].Title}}--> 
          </div>
          <div class="col col-sm-2 text-center">
            <button class="btn btn-default" ng-click="nextEpisode(show, $event)">Next Episode <i class="glyphicon glyphicon-chevron-right"></i></button>
            
            <!--{{show.object.Seasons | filter : {'Season':'1'}}}--> 
            
            <br />
            <!--{{show.object.Title}}--> 
            <br />
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-2">
            <button class="btn btn-danger" ng-click="removeWatching(show, $event)" title="Remove {{show.title}} to your watching list">Watch Later</button>
          </div>
        </div>
        <div class="row">
          <div class="col col-sm-2"> </div>
          <div class="col col-sm-8">
            <hr>
          </div>
          <div class="col col-sm-2"></div>
        </div>
      </div>
    
    <hr>
	  <div class="row">
		  <div class="col col-sm-6">
    <h1>Show Collection: {{(showList | removed:false).length}}</h1>
			   </div>
		  <div class="col col-sm-6 "> <div class="pull-right">
		  	<button class="btn btn-default" ng-click="sortAlpha()" title="Add list" ><span id="sortAlphaDown" class="glyphicon glyphicon-arrow-down" ></span>A–Z<span id="sortAlphaUp" class="glyphicon glyphicon-arrow-up" ></span></button>
			  <button class="btn btn-default" ng-click="sortNum()" title="Add list" ><span id="sortNumDown" class="glyphicon glyphicon-arrow-down" ></span>0–10<span id="sortNumUp" class="glyphicon glyphicon-arrow-up" ></span></button>
			  </div>
		  </div>
    </div>
      <div class="row">
        <!--<div ng-repeat="show in showList" ng-if="!show.flagRemove">-->
			<div ng-repeat="show in showList | removed:false">
			 <div class="clearfix" ng-if="$index % 2 == 0"></div>
			<div class="show">
          <div class="col col-sm-2">
            <div class="img-responsive image-container-small"> <img class="img-rounded" ng-src="{{show.Poster}}" alt="{{show.Title}}">
				
            </div>
          </div>
          <div class="col col-sm-4">
            <h2>{{show.Title}}</h2>
            <strong>Total Episodes: </strong>{{show.totalEpisodes}} <br />
            <strong>Show Rating: </strong>{{show.imdbRating}} <br />
			  <strong>Number of Outliers: </strong>{{show.stats.outliers}} (<span class="glyphicon glyphicon-arrow-down" style="color:#d9534f"></span>{{show.stats.lowerOutliers.length}} / <span class="glyphicon glyphicon-arrow-up" style="color:#5cb85c"></span>{{show.stats.upperOutliers.length}}) <br />
            
			  <a type="button" class="btn btn-default" href="#!/Show/{{show.Title}}"> Details</a>
              <button class="btn btn-warning" ng-disabled="watchingList.length == 3 " ng-click="addWatching(show, $event)" title="Add {{show.Title}} to your watching list">Watch Now!</button><br />
			  <button  class="btn btn-danger"  ng-click="removeFromCollection(show, $event)" title="Remove {{show.Title}} to your collection">Stop Watching</button>
			  <button class="btn black-background" ng-click="delete(show, $event)" title="Delete {{show.Title}} from records">Delete</button>
          </div>
          
        </div>
      </div>
		
    </div>
	  
  </div>
  <div ng-show="loading" class="text-center loading">Loading...</div>
</div>
<hr>
